<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titel | default: "Geen titel" }} | The Embassy of the free mind</title>
    <link rel="stylesheet" href="/styles/general.css">
