<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/ico.jpg" type="image/jpg">
    <title>{{ title | default: "Geen titel" }} | The Embassy of the free mind</title>
    <link rel="stylesheet" href="/styles/general.css">
