body {
  display: flex;
  flex-direction: column;
  max-width: unset;
  border: unset;
  margin: unset;
  height: 100vh;
  max-height: 100vh;
}

/* MARK: NAVIGATION 
*/
header nav {
  width: 100%;
  display: flex;
}

header nav > * {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  border-bottom: var(--border-lg);
  text-align: center;
  text-decoration: none;
}

header nav > a svg {
  height: 1rem;
  width: 1rem;
}

header nav > *:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 20%;
}

header nav > .back svg {
  transform: rotate(180deg);
}

header nav > *:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 20%;
}

header nav > *:nth-child(1) svg {
  transform: rotate(90deg);
}

header nav > *:nth-child(3) svg {
  transform: rotate(-90deg);
}

header nav > .back {
  flex: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

header nav > a.back {
  border-left: var(--border-lg);
  border-right: var(--border-lg);
}

header nav > *:nth-child(3) {
  flex: 20%;
}

header nav a {
  display: grid;
  place-content: center;
}

header nav > *:only-child {
  border-left: unset;
  border-right: unset;
}

/* MARK: MAIN 
*/
.container {
  display: flex;
  flex-grow: 1;
}
main {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
}
aside {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: var(--black);
}

aside picture {
  display: flex;
  height: 80%; /* Control the image size here */
}
aside img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

aside nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1.5rem;
}

main nav {
  flex-shrink: 0;
}

main .tabs {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#info,
#comment,
#media {
  height: 80%;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
}

#comment,
#media {
  display: none;
}

#info .wrapper {
  display: grid;
  overflow: auto;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1rem;
}

@media (max-width: 61.25rem) {
  header nav > *:not(.back) {
    display: none;
    border: unset;
  }

  body header nav > a.back {
    flex: 100%;
    border-left: unset;
    border-right: unset;
  }

  #info .wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 42.25rem) {
  .container {
    flex-direction: column;
  }

  main, aside{
    width: 100%;
  }
  
  aside {
    order: 1;

  }
  main {
    order: 2;

  }
}

*::-webkit-scrollbar {
  background-color: var(--black);
  width: .5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--gold);
}