body {
  display: flex;
  flex-direction: column;
  max-width: unset;
  border: unset;
  margin: unset;
  height: 100vh;
  max-height: 100vh;
}

/* MARK: NAVIGATION 
*/
header nav {
  width: 100%;
  display: flex;
}

header nav > * {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  border-bottom: var(--border-lg);
  text-align: center;
  text-decoration: none;
}

header nav > a svg {
  height: 1rem;
  width: 1rem;
}

header nav > *:nth-child(1) {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  flex: 20%;
}

header nav > .back svg {
  transform: rotate(180deg);
}

header nav > *:nth-child(3) {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  flex: 20%;
}

header nav > *:nth-child(1) svg {
  transform: rotate(90deg);
}

header nav > *:nth-child(3) svg {
  transform: rotate(-90deg);
}

header nav > .back {
  flex: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  padding: 1rem 0;
}

header nav > a.back {
  border-left: var(--border-lg);
  border-right: var(--border-lg);
}

header nav > *:nth-child(3) {
  flex: 20%;
}

header nav a {
  display: grid;
  place-content: center;
}

header nav > *:only-child {
  border-left: unset;
  border-right: unset;
}

/* MARK: MAIN 
*/
.container {
  display: flex;
  flex: 1 1 0;
  min-height: 0;
}

main {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}

aside {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 0 2rem;
}

aside picture {
  display: flex;
  height: 75%;
}
aside img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

aside nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
  padding: var(--space-md);
}

aside nav a {
  padding: 0.25rem 0.75rem;
  background: var(--black);
}

main nav {
  flex-grow: 1;
  view-transition-name: main-navigation;
}

main .tabs {
  height: 100%;
  padding: var(--space-lg) var(--space-lg);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#info,
#comment,
#media {
  height: 80%;
  display: none;
  padding: var(--space-md) var(--space-lg);
}

#comment {
  min-height: 50vh;
}

#comment ul {
  height: 100%;
  overflow-y: auto;
  z-index: 2;
}

/* Set z-index on the transition groups to control stacking */
::view-transition-group(comment-form),
::view-transition-group(main-navigation) {
  z-index: 2;
}

#comment form {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-top: auto;
  view-transition-name: comment-form;
  position: relative;
}

#comment form label {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

form#message-form p.handling {
  /* Reserve space equal to one line of text */
  min-height: 1.5rem;
  color: crimson;
}

form#message-form:not([data-state="error"]) p.handling span.error {
  height: max-content;
  display: none;
}

#info {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

#media:target ~ #info,
#comment:target ~ #info {
  display: none;
}

#comment:target,
#media:target {
  display: flex;
  flex-direction: column;
}

#info .wrapper {
  display: grid;
  overflow: auto;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-lg) var(--space-sm);
}

form#message-form button[type="submit"] {
  padding: 0.25rem 0.75rem;
  background: var(--white);
  color: var(--blue);
  width: fit-content;
}

form#message-form textarea {
  border: var(--border-sm);
  padding: 0.25rem 0.75rem;
  height: 5rem;
  resize: none;
}

@media (max-width: 61.25rem) {
  body {
    height: 100%;
    max-height: unset;
  }

  header nav > *:not(.back) {
    display: none;
    border: unset;
  }

  body header nav > a.back {
    flex: 100%;
    border-left: unset;
    border-right: unset;
  }

  #info .wrapper {
    grid-template-columns: 1fr;
    gap: var(--space-sm);
  }
}

@media (max-width: 50rem) {
  .container {
    flex-direction: column;
  }

  main,
  aside {
    width: 100%;
  }

  aside,
  main nav {
    order: 1;
  }

  aside nav {
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
  }

  main,
  main > div {
    order: 2;
  }
}

@supports (view-transition-name: auto) {
  @view-transition {
    navigation: auto;
  }

  #comment {
    padding-bottom: 0;
  }

  #comment li[data-message-id] {
    view-transition-name: var(--vt-name);
    animation-duration: 0.5s;
  }

  #comment form {
    view-transition-name: comment-form;
    background-color: var(--blue);
    padding-bottom: var(--space-md);
  }

  main nav {
    view-transition-name: main-navigation;
    background-color: var(--blue);
  }

  aside.book {
    view-transition-name: book-image;
  }
}
