header {
  display: flex;
  flex-wrap: wrap;
  max-height: 37.5rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

/* MARK: HEADER COMPONENTS
*/

header img {
  height: 22rem;
  object-fit: cover;
  object-position: top;
  flex: 1;
}

div.circle {
  transform: translateY(-60%);
  flex-shrink: 0;
  background: var(--blue);
}

/* MARK: NAVIGATION
*/

nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul li ul {
  display: none;
}

h1 {
  padding: var(--space-circle-lg);
  text-align: center;
}

h1 > span:nth-child(1) {
  font-size: clamp(4rem, calc(10vw - 0.5em), 8rem);
}

/* MARK: FORM & FILTERS
*/

form {
  position: sticky;
  top: 1rem;
  background: var(--blue);
  display: flex;
  justify-content: space-between;
  border-top: var(--border-sm);
  border-bottom: var(--border-sm);
  padding: 1.25rem 2rem;
  z-index: 2;
  box-shadow: 0 -1rem 0 0 var(--blue);
}

.filters {
  display: flex;
  gap: 1.5rem;
  z-index: 2;
}

.search {
  display: flex;
  gap: 0;
}

/* Form Elements */
.filters summary,
.search > * {
  padding: 0.25rem 0.75rem;
  border: 0.1875rem solid var(--white);
}

.search input {
  border-right: 0;
}

.search button {
  background: var(--white);
  color: var(--blue);
}

/* Form Details/Dropdowns */
form summary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
}

form details > *:nth-child(2) {
  position: absolute;
  top: calc(100% + 0.1875rem);
  left: 0;
  background: var(--blue);
  border-bottom: var(--border-sm);
  min-width: 100%;
  padding: 1.25rem 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem 1rem;

}

.filters-content ul li{
  border: var(--border-sm);
  border-color: var(--white);
  padding: .25rem .75rem;
}

.filters-content ul li:has(input:checked){
  border-color: var(--gold);
}

.filters details summary{
  border: none;
}

.filters-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

details[open] > summary > svg{
  transform: rotate(180deg);
}

label input[type="checkbox"]{
  appearance: none;
}

label:hover span{
  text-decoration: underline;
}

label input[type="checkbox"]:checked + span {
  color: var(--gold);
  text-decoration: underline;
}

/* MARK: ITEMS LIST/GRID
*/

.items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.items-list > li {
  border: var(--border-sm);
}

/* Item Links */
.items-list > li > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
}

/* Item Images */
.items-list > li img {
  max-height: 14.375rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* Item Titles */
.items-list h2 {
  padding: 0.5rem;
}

/* MARK: ITEM DETAILS/INFO
*/

.items-list > li details {
  padding: 0.5rem;
  margin-top: auto;
  position: relative;
}

.items-list > li details > * {
  flex: 1;
  text-align: center;
  border: var(--border-sm);
  border-color: var(--white);
}

.items-list > li details > *,
.items-list > li details summary {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}

.items-list > li details div {
  position: absolute;
  top: calc(100% - 0.25rem);
  width: calc(100% - 1rem);
  background: var(--blue);
  border: var(--border-sm);
  border-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.items-list details div h3 + p {
  margin-top: 0.5rem;
}

.items-list details div p + h3 {
  margin-top: 1rem;
}

/* MARK: FOOTER
*/

footer {
  border-top: var(--border-sm);
  height: 18rem;
  display: grid;
  place-items: center;
}

@media (max-width: 61.25rem) {
  .circle h1{
    padding: var(--space-circle-sm);
  }

  header nav{
    display: none;
  }

  .wrapper{
    justify-content: center;
  }

  form{
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  form .search{
    width: 100%;
    order: 1;
  }

  .search input{
    width: 100%;
  }

  form .filters{
    order: 2;
  }

 

  .filters ul {
    z-index: 5;
    max-height: 30vh;
    overflow-y: auto;
  }

  .filters-content summary{
    padding: 0.25rem 0.75rem;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  form details > *:nth-child(2){
    border: unset;
    border-bottom: var(--border-sm);
    top: calc(100% + .1875rem);
    width: 100%;
  }
  
}
