{% layout 'layouts/default.liquid', titel: "Home" %}
{% block head %}

{% endblock %}
{% block content %}
  <header>
    <nav>
      <ul>
        <li>
          <a href=""></a>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </li>
        <li>
          <a href=""></a>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </li>
      </ul>
    </nav>
    <h1 class="xxl">
      <span>O</span>nline <br/> catal<span>o</span>gus
    </h1>

    <p class="xxl">test</p>
    <p class="xl">test</p>
    <p class="lg">test</p>
    <p class="md">test</p>
    <p class="sm">test</p>
    <a href="/catalogus">catalogus
    <details>
      <summary>test</summary>
      <p>test</p>
    </details>
    </a>
    <nav>
      <ul>
        <li>
          <a href=""></a>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </li>
        <li>
          <a href=""></a>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
{% endblock %}