{% layout 'layouts/default.liquid' %}
{% block head %}
  <link rel="stylesheet" href="styles/general.css">
{% endblock %}
{% block content %}
  <header>
    <nav></nav>
    <h1 class="xxl">
      <span>O</span>nline catalogus</h1>


    <p class="xxl">test</p>
    <p class="xl">test</p>
    <p class="lg">test</p>
    <p class="md">test</p>
    <p class="sm">test</p>
    <nav></nav>
  </header>
{% endblock %}