*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: unset;
  color: unset;
  font-size: 1rem;
  font-weight: unset;
  font-family: sans-serif;
  /* list-style: none; */
}

body {
  --blue: #0A263E;
  --black: #070D13;
  --white: #EDF0F4;
  --gray: #EDEDED;
  --highlight: #F7F7F7;
  --gold: #C4A155;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;

  --space-circle-sm: 2.25rem;
  --space-circle-lg: 5rem;

  --letter-spacing: -0.02em;

  background-color: var(--blue);
  color: var(--white);
}

.xxl,
.xl,
.lg,
.sub {
  letter-spacing: var(--letter-spacing);
}

.xxl {
  font-size: clamp(3.125rem, calc(8vw - 1em), 4rem);
  line-height: 1em;
}

.xl {
  font-size: clamp(2.625rem, calc(7vw - 1em), 3.25rem);
  line-height: 1em;
}

.lg {
  font-size: clamp(2.125rem, calc(6vw - .9em), 3rem);
  line-height: 1em;
}

.md {
  font-size: clamp(1.625rem, calc(5vw - 1em), 2rem);
  line-height: calc(1em + .5rem);
}

.sm {
  font-size: clamp(1.25rem, calc(4vw - 1em), 1.5rem);
  line-height: calc(1em + .75rem);
}
/* TODO configure rest of the typography */
.xs {
  font-size: clamp(1.5rem);
  line-height: 2.5rem;
}

.default {
  font-size: clamp(1.125rem);
  line-height: 2rem;
}

.sub {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Undo the resets! */
span {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.circle{
  border-radius: 1e58rem;
  border: 5px solid var(--gold);
  width: fit-content;
  display: flex;
  align-items: center;
  aspect-ratio: 1;
}

h1 span{
  color: var(--gold);
}