.pagination-list {
  display: flex;
  gap: var(--space-xs);
  list-style: none;
}

.current-page {
  color: var(--gold);
}

.pagination-prev:not(a),
.pagination-next:not(a) {
  opacity: .5;
  cursor: not-allowed;
}